/* ========== ANIMATIONS ========== */

@keyframes font-fade {
    100% { background-color: #8a75ff; color: white; scale: 1.1; box-shadow: 2px 2px 5px 2px #dcd6ff ;}
}

@keyframes btn-click {
    100% { background-color: #a3a3a3; color: white;}
}

@keyframes button {
    100% { background-color: #333;}
}

@keyframes nav-appear {
    0% { opacity: 0; clip-path: inset(0 100% 100% 0); }
    100% { opacity: 1; clip-path: inset(0 0 0 0); }
}

@keyframes rotate-logo {
    50% { transform: rotate(360deg);}
    100% { transform: rotate(0deg);}
}

@keyframes form-appear {
    0% { scale: 0.5; opacity: 0; }
    100% { scale: 1; opacity: 1; }
}


/* ===== PAGE STYLING ========== */

* {
    box-sizing: border-box;
    margin: 0
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden scroll;
    background-color: white;
    font-family: "Crimson Text", Verdana, Geneva, Tahoma, sans-serif;
}

#nav-main-container {
    display: flex;
    position: relative;
}

hr {
    box-shadow: 2px 2px 5px 3px rgba(122, 122, 122, 0.411);
}

::selection {
    background-color: #8a75ff;
    color: white;
}

::-webkit-scrollbar {
    background-color: #333;
}

::-webkit-scrollbar-thumb {
    background-color: #920741;
    border: 1px solid white;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background-color: #333;
}



/* ========== HEADER STYLING ========== */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("/public/code-blue.gif") no-repeat ;
    background-size: cover;
    height: 15%;
    border-bottom: 2px solid rgb(0, 0, 0);
}

header > h1 {
    width: 100%;
    padding: 0 2rem;
    color: white;
    background-color: #7e7e7eb6;
    text-align: center;
    font-size: 5rem;
    font-style: italic;
    font-weight: 900;
    border-radius: 10px;
}


/* ========== NAVIGATION STYLING ========== */

#nav-container {
    position: sticky;
    width: 10%;
    min-width: 120px;
}
#nav-bar {
    overflow: hidden;
    background-color: red;
}

#nav-bar a {
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#drop-menu {
    width: 100%;
    float: left;
    overflow: hidden;
}

#drop-menu #drop-btn {
    width: 100%;
    font-size: 1rem;  
    font-family: inherit;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    padding: 14px 16px;
    margin: 0;
}

#drop-menu:hover #drop-btn {
    animation-name: button;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#hidden-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    width: 100%;
    box-shadow: 0px 3px 10px 0px #5a5a5a79 ;
    z-index: 10;
    
    animation: nav-appear linear;
    animation-duration: 500ms;
}

#hidden-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}


#hidden-content a:hover {
    background-color: #ddd;

    animation-name: font-fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#drop-menu:hover #hidden-content {
    display: block;
}

#hidden-content a:active {
    animation-name: btn-click;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}


/* ========== BODY STYLING ========== */

main {
    width: 90%;
    padding: 0 15% 0 5%;
}

#opt-btns {
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: 70px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: whitesmoke;
    text-decoration: none;
    width: 3rem;
    height: 3rem;
    border: 2px solid #333;
    border-radius: 50%;
    cursor: pointer;
}

.hover-sound-btn {
    background-color: white;
    color: #333;
}

#content {
    padding: 0 5%;
    padding-bottom: 5%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    background-color: #1600490a;
}

#content ul {
    list-style: circle
}

.section-heading {
    font-size: 2rem;
    font-weight: 900;
    font-style: italic;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* #skills-flex {
    display: flex;
    gap: 10%;
} */

li > h4,
li > p {
    padding-top: 0.5rem;
}

#intro-p,
article li, 
#interests-p {
    transition: 1s;
}

article > ul > li:hover,
#intro-p:hover,
#interests-p:hover {
    list-style: none;
    scale: 1.2;
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}


/* ===== FORM CSS ===== */

#form-select {
    margin-top: 2rem;
    display: flex;
    column-gap: 1rem;
}

.formSelectBtn {
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    background-color: whitesmoke;
    color: black;
    border: outset rgba(128, 128, 128, 0.568);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.unselectedFormBtn {
    background-color: whitesmoke;
    color: black;
    border: outset rgba(128, 128, 128, 0.568);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.hoveredBtn {
    background-color: #8a75ff;
    color: white;
    transition: 800ms;
}

.pressedBtn {
    background-color: #4e0322;
    color: white;
    border: inset rgb(167, 167, 167);
    transform: translate(2px, 2px);
    box-shadow: none;
}

fieldset {
    margin-top: 3rem;
    padding: 1rem;
    width: 50%;
    min-width: 340px;
    background-color: #cccccc6c;
    transition: 1s;
    animation: form-appear linear;
    animation-duration: 400ms;
}

legend {
    font-size: 1.5rem;
    padding: 10px;
    border: 1px solid #5f5f5f71;
    background-color: #333;
    color: white;
}

#contact-me-btn {
    font-size: 1.2rem;
    font-weight: bold;
    max-width: 200px;
    padding: 0.5rem 2rem;
    background-color: #333;
    color: white;
    border: outset rgba(128, 128, 128, 0.568);
    box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

#contact-me-btn:hover {
    background-color: red;
    color: white;
}

#contact-me-btn:active {
    background-color: rgb(133, 0, 0);
    border: inset rgb(167, 167, 167);
    transform: translate(2px, 2px);
    box-shadow: none;
}

#contact-form, #recommendation-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: 700;
}

input, textarea, select {
    padding: 1px 10px;
    font-size: 1.2rem;
}

input:focus, 
textarea:focus, 
textarea:focus::placeholder, 
input:focus::placeholder,
select option {
    background-color:#bfb4ff;
    color: black;
}


/* ========== RECOMMENDATIONS STYLING ========== */

.user-recommendation {
    margin-bottom: 2rem;
    width: 50%;
    min-width: 340px;
}

.star-overview {
    display: flex;
    height: 1.5rem;
    width: 15rem;
}

.star-overview > span {
    width: 20%;
    font-weight: bold;
}

.star-overview > div {
    height: 85%;
    background-color: #ffd952;
}

#user-feedback {
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

#recommendations-container {
    width: 50%;
    padding: 1rem;
    border: 2px #33333379 outset;
}

/* ========== FOOTER STYLING ========== */

footer {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 25px;
    background-color: #920741;
    color: white;
    font-size: 1rem;
}

footer > p {
    margin-right: 10px;
}

footer a {
    color: aqua;
}

#social-links {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

#social-links a {
    text-decoration: none;
    color: white;
    
}


/* ========== MEDIA QUERIES ========== */

/* Screen sizes under 720px width */
@media screen and (max-width: 720px) {

    main {
        padding: 0;
    }

    #nav-main-container {
        display: flex;
        flex-direction: column;
    }

    #nav-container {
        position: sticky;
        width: 100%;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        height: 100px;
    }

    #social-links {
        display: none;
    }
}

/* Screen sizes below 1020px */
@media screen and (max-width: 1020px) {
    #social-links {
        flex-direction: column;
        margin-left: auto;
    }

    #opt-btns {
        flex-direction: column;
    }
}

/* Screen sizes over 1980px width */
@media screen and (min-width: 1980px) {

    fieldset {
        transition: 1s;
    }
    
    fieldset:hover {
        scale: 1.3;
        transform: translate(30px, -30px);
        background-color: #cccccc;
    }

    footer {
        font-size: 1.2rem;
        padding: 0 50px;
    }
    
    footer > p {
        margin-right: 50px;
    }

    #social-links {
        flex-direction: row;
        margin-left: auto;
    }
}


/* TEST */

.skills-flex {
    position: relative;
    top: 30%;
    width: 100%;
    min-height: 250px;
    overflow: hidden;
}

.skills-list {
    position: absolute;
    width: 230%;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 5px;
    pointer-events: none;
}

.slide-skills {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: white;
    border: 0px solid black;
    gap: 5px;
}


.skills-list img {
    width: 150px;
    height: 150px; 
}

/* .skills-flex:hover img {
    animation: rotate-logo 8s ease-in-out 0s infinite ;
} */


.slide-skills > p {
    text-align: center;
    color: black;
    font-size: 1rem;
    font-weight: bolder;
}

.slide-skills > h4 {
    text-align: center;
    color: black;
    font-size: 1.3rem;
}

